# Secrets
[Ss]ecrets/
.[Ss]ecrets/

# NPM
node_modules/
.npm/
npm-debug.log*

# Environment Configuration
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage
[Cc]overage/

# Artifacts
[Dd]ist/
[Bb]uild/
[Pp]ublish/
[Dd]ebug/
[Rr]elease/
[Tt]arget/
[Bb]in/
[Oo]bj/
[Oo]bject/

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# Visual Studio
.vs/

# Docker Ignore
.dockerignore

# Python Cache
__pycache__/

# ESLint
.eslintcache

# Miscellaneous
[Ll]og/
*.log

[Cc]ache/
.[Cc]ache/
*.cache

[Tt]mp/
.[Tt]mp/
[Tt]emp/
.[Tt]emp/
*.tmp
*.temp

.DS_STORE
