# Secrets
[Ss]ecrets/
.[Ss]ecrets/
*.pem

# Environment Configuration
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker Ignore
.dockerignore

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# Visual Studio
.vs/

# Python Cache
__pycache__/

# NPM
node_modules/
.npm/
npm-debug.log*

# JavaScript Miscellaneous
.pnp/
.pnp.js
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# ESLint
.eslintcache

# NextJS
.next/

# Coverage
[Cc]overage/
.[Cc]overage/

# Logs
[Ll]og/
.[Ll]og/
*.log

# Cache
[Cc]ache/
.[Cc]ache/
*.cache

# Artifacts
[Dd]ist/
[Bb]uild/
[Pp]ublish/
[Dd]ebug/
[Rr]elease/
[Tt]arget/
[Bb]in/
[Oo]bj/
[Oo]bject/
[Oo]ut/

# Temporary
[Tt]mp/
.[Tt]mp/
*.tmp

[Tt]emp/
.[Tt]emp/
*.temp

# Miscellaneous
.DS_STORE
