html, body, #__next {
  min-height: 100%;
  height: 100%;
}

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$ps-colors: (
  "ps-white": $light,
  "ps-blue": $blue-700,
  "ps-gray": $dark,
  "ps-black": $black
);

$theme-colors: map-merge($theme-colors, $ps-colors);

@import "~bootstrap/scss/bootstrap";

.trademark {
  font-size: x-small;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Garamond, "Times New Roman", Times, serif;
}

footer, code {
  font-family: "Courier New", Courier, monospace;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
