@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.timeline-container {
  position: relative;
}

%timeline-line {
  content: "";

  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
}

.timeline-line-light {
  @extend %timeline-line;
  background-color: $dark;
  border: 1px solid $dark;
}

.timeline-line-dark {
  @extend %timeline-line;
  background-color: $gray-700;
  border: 1px solid $gray-700;
}

.timeline-item {
  width: 50%;
  position: relative;
}

%timeline-icon {
  font-size: 12px;

  width: 21px;
  height: 21px;
  z-index: 1;
  position: absolute;
  top: 12px;
}

.timeline-item-left {
  left: 0px;

  %timeline-icon {
    right: -12px;
  }
}

.timeline-item-right {
  left: 50%;

  %timeline-icon {
    left: -9px;
  }
}

@include media-breakpoint-down(md) {
  %timeline-line {
    left: 6px;
  }

  .timeline-item {
    width: 100%;
  }

  .timeline-item-left {
    %timeline-icon {
      left: -3px;
    }
  }

  .timeline-item-right {
    left: 0px;

    %timeline-icon {
      left: -3px;
    }
  }
}

.timeline-icon-light {
  @extend %timeline-icon;
  color: $dark;
  background-color: $light;
  border: 2px solid $dark {
    radius: 50%;
  };
}

.timeline-icon-dark {
  @extend %timeline-icon;
  color: $light;
  background-color: $black;
  border: 2px solid $gray-700 {
    radius: 50%;
  };
}

.timeline-item-content {
  position: relative;
}

.timeline-item-card-light {
  color: $dark !important;
  background-color: $light !important;
  border: 1px solid $dark !important;
}

.timeline-item-card-dark {
  color: $light !important;
  background-color: $dark !important;
  border: 1px solid $gray-700 !important;
}

%tech-badge {
  color: $light;
}

.tech-badge-light {
  @extend %tech-badge;
  background-color: $blue-700;
}

.tech-badge-dark {
  @extend %tech-badge;
  background-color: $black;
}
