@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

%navbar-btn-shared {
  border: none;
}

.navbar-btn-light {
  @extend %navbar-btn-shared;
  color: $navbar-dark-color;
  background-color: $blue-700;
}

.navbar-btn-dark {
  @extend %navbar-btn-shared;
  color: $navbar-dark-color;
  background-color: $dark;
}

.navbar-bg-light {
  background-color: $blue-700;
}

.navbar-bg-dark {
  background-color: $dark;
}
