@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-fill {
  flex: 1;
}

.app-light {
  color: $dark;
  background-color: $light;
}

.app-dark {
  color: $light;
  background-color: $black;
}
