@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: oklch(0% 0 0);
  --background: oklch(97.5% 0.005 250);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: oklch(95% 0 0);
    --background: oklch(12.5% 0.005 250);
  }
} */

h1,
h2,
h3 {
  font-family: Garamond, Georgia, "Times New Roman", Times, serif;
}

code,
footer {
  font-family: "Courier New", Courier, monospace;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Calibri, Verdana, Geneva, Tahoma, sans-serif;
}
