@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.timeline-container {
  position: relative;
}

.timeline-line {
  content: "";
  background-color: var(--bs-ps-gray);
  border: 1px solid var(--bs-ps-gray);

  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
}

%timeline-item {
  width: 50%;
  position: relative;

  &::before {
    content: "";

    width: 14px;
    height: 14px;
    z-index: 1;
    position: absolute;
    top: 12px;
  }

  &:nth-of-type(even) {
    left: 0px;

    &::before {
      right: -8px;
    }
  }

  &:nth-of-type(odd) {
    left: 50%;

    &::before {
      left: -6px;
    }
  }
}

.timeline-item-light {
  @extend %timeline-item;
  &::before {
    background-color: var(--bs-ps-blue);
    border: 2px solid var(--bs-ps-white) {
      radius: 50%;
    };
  }
}

.timeline-item-dark {
  @extend %timeline-item;
  &::before {
    background-color: var(--bs-ps-gray);
    border: 2px solid var(--bs-ps-black) {
      radius: 50%;
    };
  }
}

@include media-breakpoint-down(md) {
  .timeline-line {
    left: 6px;
  }

  %timeline-item {
    width: 100%;

    &:nth-of-type(even) {
      &::before {
        left: 0px;
      }
    }

    &:nth-of-type(odd) {
      left: 0px;

      &::before {
        left: 0px;
      }
    }
  }
}

.timeline-item-content {
  position: relative;
}
