@import "bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6 {
  font-family: Garamond, "Times New Roman", Times, serif;
}

footer, code {
  font-family: "Courier New", Courier, monospace;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
